<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
    <div class="AboutMe_basic-infos__RLZNU">
  <div class="AboutMe_basic-info-wrapper__p9kae">
    <div class="AboutMe_basic-info__vpRfY">
      <div class="AboutMe_icon-img-wrapper__eNduC">
        <img class="AboutMe_icon-img__xEpEm" src="/images/about-me/person-fill.svg" alt="">
      </div>
      <div class="AboutMe_field__GeyWG">
        <div class="AboutMe_field-label__IZxOZ">이름</div>
        <div class="AboutMe_field-value__Or_oj">김나라</div>
      </div>
    </div>
  </div>
  <div class="AboutMe_basic-info-wrapper__p9kae">
    <div class="AboutMe_basic-info__vpRfY">
      <div class="AboutMe_icon-img-wrapper__eNduC">
        <img class="AboutMe_icon-img__xEpEm" src="/images/about-me/calendar-fill.svg" alt="">
      </div>
      <div class="AboutMe_field__GeyWG">
        <div class="AboutMe_field-label__IZxOZ">생년월일</div>
        <div class="AboutMe_field-value__Or_oj">93.08.17</div>
      </div>
    </div>
  </div>
  <div class="AboutMe_basic-info-wrapper__p9kae">
    <div class="AboutMe_basic-info__vpRfY">
      <div class="AboutMe_icon-img-wrapper__eNduC">
        <img class="AboutMe_icon-img__xEpEm" src="/images/about-me/geo-alt-fill.svg" alt="">
      </div>
      <div class="AboutMe_field__GeyWG">
        <div class="AboutMe_field-label__IZxOZ">주소지</div>
        <div class="AboutMe_field-value__Or_oj">서울특별시 구로구</div>
      </div>
    </div>
  </div>
  <div class="AboutMe_basic-info-wrapper__p9kae">
    <div class="AboutMe_basic-info__vpRfY">
      <div class="AboutMe_icon-img-wrapper__eNduC">
        <img class="AboutMe_icon-img__xEpEm" src="/images/about-me/envelope-fill.svg" alt="">
      </div>
      <div class="AboutMe_field__GeyWG">
        <div class="AboutMe_field-label__IZxOZ">이메일</div>
        <div class="AboutMe_field-value__Or_oj">
          <a class="AboutMe_email__up_5k" href="mailto:vvipnanas@gmail.com">vvipnanas@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</section>
